::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #e0e5ec;
    box-shadow:
        inset 2px 2px 8px #cccccc,
        inset -2px -2px 8px #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #a1a7b3;
    box-shadow:
        inset 2px 2px 6px #aaaaaa,
        inset -2px -2px 6px #ffffff;
}

::-webkit-scrollbar-button {
    display: none;
}