*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #dddddd;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
}