#lordly-alert-msg-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden auto;
    z-index: 10000;
    pointer-events: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#lordly-alert-msg-container::-webkit-scrollbar {
    display: none;
}

.lordly-alert-msg-box {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background-color: #fffef8;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1);
}

.lordly-alert-msg-box__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    fill: currentColor;
    font-size: 18px;
}

.lordly-alert-msg-box__content {
    max-width: 240px;
    word-break: break-word;
    flex: 1;
    font-size: 14px;
    color: #393733;
}

.lordly-alert-msg-box.primary {
    color: #0061ff;
}

.lordly-alert-msg-box.success {
    color: #0fa75f;
}

.lordly-alert-msg-box.error {
    color: #d32f2f;
}

.lordly-alert-msg-box.danger {
    color: #e91e63;
}

.lordly-alert-msg-box.warning {
    color: #ff9800;
}

.lordly-alert-msg-box.info {
    color: #03a9f4;
}

.lordly-alert-msg-box.show {
    animation: box-in .4s forwards;
}

.lordly-alert-msg-box.hide {
    animation: box-out .4s forwards;
}

@keyframes box-in {
    0% {
        margin-top: calc(var(--h) + 10px);
        opacity: 0;
        transform: scale(.9);
    }

    100% {
        margin-top: 0;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes box-out {
    0% {
        margin-top: 0;
        opacity: 1;
        transform: scale(1);
    }

    100% {
        margin-top: calc(-1 * var(--h) - 10px);
        opacity: 0;
        transform: scale(.9);
    }
}