.lordly-click-ripple {
    position: fixed;
    z-index: 10000;
    width: 20px;
    height: 20px;
    pointer-events: none;
    border: 1px solid;
    border-color: #1772b4 #20a162 #c21f30 #e2d849;
    animation: click-ripple .6s forwards;
}

@keyframes click-ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}